---
import Layout from "../../layouts/Layout.astro";
import MemberInfo from "../../components/Profile.astro";
import { members } from "./_board.json";
---

<Layout title="Executive Board | ACM@UC">
  <main class="mx-12 max-w-screen-lg">
    <h1 class="m-8 text-3xl">ACM@UC Executive Board</h1>
    <div class="mx-20 mb-14">
      {
        members.map(async ({ role, name, bio, imageUrl, email, github, linkedin }) => {
          // todo - if an executive adds a website, add it to the Profile component
          return (
            <>
              <h2 class="mt-6 mb-4 text-xl">{role}</h2>
              <MemberInfo
                {name}
                {imageUrl}
                {email}
                {github}
                {linkedin}
                {bio}
              />
            </>
          );
        })
      }
    </div>
  </main>
</Layout>
