---
import { Image } from "astro:assets";

interface Props {
  name: string;
  imageUrl?: string | undefined;
  classOf?: string | undefined;

  email?: string | undefined;
  website?: string | undefined;
  github?: string | undefined;
  linkedin?: string | undefined;
}

const { name, imageUrl, bio, classOf, email, website, github, linkedin } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>("/src/assets/*.{jpeg,jpg,png,gif}");
const image = imageUrl ? images[imageUrl] : undefined;
---

<div class="flex items-center gap-4">
  {
      <Image
        class="size-40 rounded-full"
        src={image()}
        alt={name}
      />
    ) : imageUrl ? (
      <img
        src={imageUrl}
        alt={name}
        onerror="this.style.display='none'"
        class="size-40 rounded-full"
      />
    ) : (
      github && (
        <img
          src={`https://avatars.githubusercontent.com/${github}`}
          alt={name}
          onerror="this.style.display='none'"
          class="size-40 rounded-full"
        />
      )
    )
  }
  <div>
    <h3 class="mb-2.5">{name}{classOf && ` • Class of ${classOf}`}</h3>
    <ul class="flex flex-row gap-2 mb-2.5 flex-wrap">
      {
        email && (
          <li class="flex items-center gap-2 after:content-['•'] after:mr-1 last:after:content-none">
            <img
              src="/assets/email.svg"
              class="size-5"
            />
            <a href={`mailto:${email}`}>{email}</a>
          </li>
        )
      }
      {
        website && (
          <li class="flex items-center gap-2 after:content-['•'] after:mr-1 last:after:content-none">
            <img
              src="/assets/link.svg"
              class="size-5"
            />
            <a
              href={website}
              target="_blank"
              rel="noopener"
            >
              {website}
            </a>
          </li>
        )
      }
      {
        github && (
          <li class="flex items-center gap-2 after:content-['•'] after:mr-1 last:after:content-none">
            <img
              src="/assets/github.svg"
              class="size-5"
            />
            <a
              href={`https://github.com/${github}`}
              target="_blank"
              rel="noopener"
            >
              {github}
            </a>
          </li>
        )
      }
      {
        linkedin && (
          <li class="flex items-center gap-2 after:content-['•'] after:mr-1 last:after:content-none">
            <img
              src="/assets/linkedin.svg"
              class="size-5"
            />
            <a
              href={`https://linkedin.com/in/${linkedin}`}
              target="_blank"
              rel="noopener"
            >
              {name}
            </a>
          </li>
        )
      }
    </ul>
    <p>{bio}</p>
  </div>
</div>
